<nav class="amado-nav">
    <ul>
        <li><a href="index">Home</a></li>
        <li><a href="shop">Products</a></li>
        <li><a href="sell">Sell</a></li>
        <li><a href="cart">Cart</a></li>
        <li><a href="checkout">Checkout</a></li>
    </ul>
</nav>
