<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>49er Marketplace - One place for all your needs | Sign-in</title>
  <link rel="icon" href="img/core-img/logo49er.jpg">

  <link rel='stylesheet' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>

      <link rel="stylesheet" href="css/sign-style.css">
          <link rel="stylesheet" href="style.css">
          <link rel="stylesheet" href="css/core-style.css">

</head>
<body>

  <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
<div class="logo">
                <a href="index"><img src="img/core-img/logo49er.jpg" alt=""></a>
            </div>
<div class="login">
  <div class="login-header1">
    <h2>49ER MARKETPLACE<h2>
      <br>
      <br>
    <h3>Login</h3>
  </div>
  <div class="login-form">
    <form name="loginform" action="shop" method="POST">
    <h3><label>User name</label></h3>
    <input type="text" name="username" placeholder="username"><br>
    <h3><label>Password</label></h3>
    <input type="password" name="password" placeholder="password">
    <input  type="submit"  class="btn amado-btn" value="Login" /><br>
</form>
<!-- <script>
    function validateForm() {
        var un = document.loginform.usr.value;
        var pw = document.loginform.pword.value;
        var username = "username";
        var password = "password";
        if ((un == username) && (pw == password)) {
            return true;
        }
        else {
            alert ("Login was unsuccessful, please check your username and password");
            return false;
        }
  }
</script> -->

    <a href ="sign-up" class="sign-up">Sign Up!</a>
    <br>

  </div>
</div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

    <script  src="js/index.js"></script>

</body>

</html>
